body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40;
}

p {
    font-size: 20px;
}

section {
    display: flex;
    margin-bottom: 150px;
}

.up-down {
    margin-top: -15px;
    margin-bottom: 50px;
}

.top-half {
    width: 50%;
    margin-left: 10%;
}

.top-half a {
    margin-top: 50px;
}

.top-half img {
    width: 80%;

}

.orange-color {
    color: #0387F6;
}

.link-button {
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 30px;
    background-image: linear-gradient(#0387F6, #437196);
    border-radius: 20px;
    color: white;
}

.about-me {
    background-image: url(shapes/7.png);
    background-repeat: no-repeat;
}

#top-right {
    margin-right: 40px;
}